@import url(https://fonts.bunny.net/css?family=bebas-neue:400|poppins:100,200,300,400,500,600,700,800,900);

body{
    background-color: rgb(32, 32, 32);
    overflow: hidden;
}

h1{
    text-align: center;
    font-family: 'Bebas Neue', display;
    font-size: 55px;
    letter-spacing: 1px;
    color: rgb(237, 237, 237);
    margin-top: 4%;
}

h3{
    font-family: 'Bebas Neue', display;
    font-size: 25px; 
    letter-spacing: 1px;   
    color: rgb(237, 237, 237);
    margin: 1px 0;
}

p{
    font-size: 16px;    
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: rgb(237, 237, 237);
    margin: 0;
}

small{
    color: rgba(237, 237, 237, .5);
}

input{
    height: 30px;
    width: 300px;
    border: 1px solid #232323;
    border-radius: 3px;
    padding: 5px;
}

input:focus {
    outline: 2px solid #6a6afa;
}

label{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(237, 237, 237);
}

.todo-wrapper{
    background-color: rgb(40, 40, 40) ;
    padding: 4%;
    width: fit-content;
    margin: 4% auto;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 7px;
    box-shadow: 0px 5px 10px rgb(13, 13, 13);
}

.todo-input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom:  2px solid rgb(84, 84, 84);
    padding-bottom: 6%;
    margin-bottom: 3%;
    gap: 10px;
}

.todo-input-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.primaryBtn{
    background-color: rgb(142, 142, 142);
    color: rgb(59, 59, 59);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    margin-top: 58%;
    padding: 10.5px;
    width: 60px;
    cursor: pointer;
}

.primaryBtn:hover{
    background-color: rgb(73, 73, 73);
    color: rgb(142, 142, 142);
}

.secondaryBtn{
    background-color: rgb(168, 166, 166);
    color: rgb(59, 59, 59);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border: none;
    margin-top: 3%;
    padding: 10.5px;
    width: fit-content;
    cursor: pointer;
}

.active{
    background-color: rgb(83, 82, 82);
    color: rgb(168, 168, 168);
}

.todo-list{
    display: flex;
    flex-direction: column;
}

.todo-list-item{
    margin: 1% 0;
    background-color: rgb(83, 82, 82);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    box-shadow: 0px 7px 15px rgba(13, 13, 13, 0.4);
}

.icon-area{
    display: flex;
    gap: 2px;
    font-size: 32px;
}

.delete-icon{
    color: rgb(254, 95, 95);
}

.edit-icon{
    color: rgb(239, 239, 239);
}

.check-icon{
    color: rgb(1, 255, 136);
}

