@import url(https://fonts.bunny.net/css?family=bebas-neue:400|poppins:100,200,300,400,500,600,700,800,900);
body{
    background-color: rgb(61, 75, 146);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.app{
    height: auto;
    width: 400px;   
    margin: 50% auto;
    padding: 20px;
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    color: rgb(227, 227, 227);

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.todo-input{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.todo-input-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-area{
    display: flex;
    gap: 5px;
}

h1{
    font-family: 'Bebas Neue', display;
    font-size: 30px;
}

p{
    font-size: 20px;    
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

input{
    height: 30px;
    width: 300px;
    border: 1px solid #232323;
    border-radius: 3px;
}

button{
    height: 30px;
    width: 80px;
    background-color: #999999;
    border: 1px solid #232323;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #1e1e1e;   
}

label{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}